<a href="https://colab.research.google.com/github/Tshimo24/nkust/blob/main/PPPamnts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
import sys
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Growth Rates.csv to Growth Rates.csv

In [ ]:
df = pd.read_csv('Growth Rates.csv')
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844751,6.177883,7.373613,7.939782,6.122761,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,NaN

Warning: Total number of columns (66) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
dfc=df.copy()
# choose countries to use
df1=dfc[((df["Country Name"]== "United States")|(df["Country Name"]== "China")|(df["Country Name"]== "Japan")
       |(df["Country Name"]== "Germany")|(df["Country Name"]== "United Kingdom")|(df["Country Name"]== "India") 
       |(df["Country Name"]== "France"))]
# drop unwanted columns
df1=df1.drop("Country Code",axis=1)
df1=df1.drop("Indicator Code",axis=1)
df1=df1.drop("Indicator Name",axis=1)
df1=df1.drop(df1.loc[:, '1960':'1999'].columns, axis = 1)
df1=df1.drop("2021",axis=1)
# reset and rename
df1.reset_index(drop=True,inplace=True)
df1.rename(columns = {'Country Name':'Country'}, inplace = True)
df1['Country'] = df1['Country'].replace(['United Kingdom'],'UK')
df1['Country'] = df1['Country'].replace(['United States'],'USA')
df1.head(7)

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,China,8.490093,8.335733,9.133631,10.038030,10.113621,11.394592,12.720956,14.230861,9.650679,...,9.550832,7.863736,7.766150,7.425764,7.041329,6.848762,6.947201,6.749774,5.949714,2.347514
1,Germany,2.912503,1.681468,-0.197974,-0.700117,1.175088,0.731707,3.816442,2.976455,0.959879,...,3.925193,0.418498,0.437591,2.209543,1.491932,2.230000,2.680231,1.086025,1.055508,-4.569617
2,France,3.923669,1.983721,1.135531,0.823161,2.829753,1.663220,2.449324,2.424736,0.254946,...,2.192701,0.313135,0.576327,0.956183,1.112912,1.095464,2.291420,1.865066,1.842972,-7.855256
3,UK,3.672369,2.072656,2.123223,3.029890,2.355630,2.593280,2.584105,2.269487,-0.239638,...,1.457563,1.469888,1.890018,2.991165,2.622597,2.263464,2.134453,1.650925,1.671944,-9.396160
4,India,3.840991,4.823966,3.803975,7.860381,7.922937,7.923431,8.060733,7.660815,3.086698,...,5.241315,5.456389,6.386106,7.410228,7.996254,8.256306,6.795383,6.532989,4.041554,-7.251755
5,Japan,2.764648,0.386103,0.041962,1.535125,2.186116,1.803901,1.372350,1.483969,-1.224289,...,0.023810,1.374751,2.005100,0.296206,1.560627,0.753827,1.675332,0.558851,0.270305,-4.585508
6,USA,4.127484,0.998341,1.741695,2.861211,3.798891,3.513214,2.854972,1.876171,-0.136580,...,1.550836,2.249546,1.842081,2.525973,3.075515,1.711427,2.332679,2.996464,2.161177,-3.404592

In [ ]:
melted_df = pd.melt(df1, id_vars=["Country"], var_name="Year", value_name="GDP")
gdp_melted_df=melted_df.copy()
gdp_melted_df['Year']=pd.to_datetime(gdp_melted_df['Year'])
df3=gdp_melted_df[['Year','GDP']].set_index('Year')
gdp_melted_df['Year']=pd.to_datetime(gdp_melted_df['Year'])
df2 = melted_df.pivot(index='Year', columns='Country', values='GDP')
display(melted_df.head(7))
display(gdp_melted_df.head(7))
display(df2.tail(7))
display(df3.tail(7))

   Country  Year       GDP
0    China  2000  8.490093
1  Germany  2000  2.912503
2   France  2000  3.923669
3       UK  2000  3.672369
4    India  2000  3.840991
5    Japan  2000  2.764648
6      USA  2000  4.127484

   Country       Year       GDP
0    China 2000-01-01  8.490093
1  Germany 2000-01-01  2.912503
2   France 2000-01-01  3.923669
3       UK 2000-01-01  3.672369
4    India 2000-01-01  3.840991
5    Japan 2000-01-01  2.764648
6      USA 2000-01-01  4.127484

Country     China    France   Germany     India     Japan        UK       USA
Year
2014     7.425764  0.956183  2.209543  7.410228  0.296206  2.991165  2.525973
2015     7.041329  1.112912  1.491932  7.996254  1.560627  2.622597  3.075515
2016     6.848762  1.095464  2.230000  8.256306  0.753827  2.263464  1.711427
2017     6.947201  2.291420  2.680231  6.795383  1.675332  2.134453  2.332679
2018     6.749774  1.865066  1.086025  6.532989  0.558851  1.650925  2.996464
2019     5.949714  1.842972  1.055508  4.041554  0.270305  1.671944  2.161177
2020     2.347514 -7.855256 -4.569617 -7.251755 -4.585508 -9.396160 -3.404592

                 GDP
Year
2020-01-01  2.347514
2020-01-01 -4.569617
2020-01-01 -7.855256
2020-01-01 -9.396160
2020-01-01 -7.251755
2020-01-01 -4.585508
2020-01-01 -3.404592